* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fire Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #363636;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: #363636;
  line-height: 1.2;
  max-width: none;
  position: relative;
  padding: 2vh 10vw;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
  color: #fffbfb;
}

h1 {
  text-align: center;
  margin-top: 1em;
  font-size: 4em;
}

header h3 {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5em;
}

header a {text-decoration: none;}

nav {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 10vw;
  bottom: 2vh;
  font-weight: bold;
}

nav ul {list-style-type: none;}

nav li {
  float: right;
  padding: 0 1em;
}

section {
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
}

section p {margin-top: 1em;}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: initial;
  overflow: auto;
  white-space: pre-wrap;
  padding: 1em;
  border-left: 2px solid #69c;
}

footer {
  margin-top: 4em;
  text-align: center;
  background-color: #363636;
  color: white;
  padding: 1em;
  box-shadow: inset 0 4px 3px -2px rgba(0, 0, 0, 0.5);
  font-size: 2em;
}

footer i {padding: 0 0.25em;}

a {
  color: inherit;
  transition: color 1s;
}

a:hover {color: #e93b3b;}

img {
  height: auto;
  max-width: 100%;
}

.pagination {position: relative;}

.pagination a {
  text-decoration: none;
  transition: background-color 1s;
  font-weight: bold;
}

.pagination a:hover {background-color: #ffd3d3;}

.nposts,
.oposts {
  position: absolute;
  border: 1px solid black;
  padding: 0.5em 1em;
}

.nposts {left: 1.5em;}

.oposts {right: 1.5em;}

.admin ul,
.archive ul {list-style-type: none;}

.admin li,
.archive li {margin: 1.5em 2em;}

.admin a,
.archive a {text-decoration: none;}

.error {text-align: center;}

.post a {text-decoration: none;}

.timestamp {font-size: 0.8em;}

.copyright {
  display: block;
  font-size: 0.4em;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
