{% extends "base.html" %}

{% block content %}
<section>
  <h1>About</h1>
  <p>
    I created this blog to share Python code and coding practices with interested people. I will be posting projects that I have, or are, working on alongside other helpful links and tutorials. My first topic will be the creation of this blog using Python and Flask. I am a student (recently returned to university to study computer science) and will use this site to increase my own knowledge while, hopefully, helping some others along the way.
  </p>
</section>
{% endblock %}
