{% extends "base.html" %}

{% block content %}
<section class="archive">
  <h1>Archive</h1>
  <ul>
    {% for post in posts.items %}
      <li>
        <a href="{{ url_for('detail', slug=post.blog_address) }}">
          {{ post.blog_title }}
        </a>
        <p class="timestamp">
          <i> {{ post.blog_date.strftime('%B %d, %Y')  }}</i>
        </p>
      </li>
    {% endfor %}
  </ul>
</section>
<div class="pagination">
  {% if posts.has_prev %}
    <a href="{{ url_for('archive', page=posts.prev_num) }}" class="nposts">
      <i class="fa fa-arrow-left" aria-hidden="true"></i><span class="hide-small"> Newer Posts</span>
    </a>
  {% endif %}
  {% if posts.has_next %}
    <a href="{{ url_for('archive', page=posts.next_num) }}" class="oposts">
      <span class="hide-small">Older Posts </span><i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  {% endif %}
</div>
{% endblock %}
