{% extends "base.html" %}

{% block content %}
<section class="archive">
  <h1>Archive</h1>
  <ul>
    {% for post in posts.items %}
      <li>
        <a href="{{ url_for('detail', slug=post.blog_address) }}">
          {{ post.blog_title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="pagination">
    {% if posts.has_prev %}
      <a href="{{ url_for('archive', page=posts.prev_num) }}" class="nposts">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Newer Posts
      </a>
    {% endif %}
    {% if posts.has_next %}
      <a href="{{ url_for('archive', page=posts.next_num) }}" class="oposts">
        Older Posts <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>
</section>
{% endblock %}
