<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='third_party/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Blog</title>
    {% endif %}
  </head>
  <body>
    <header>
      <h3><a href="{{ url_for('index') }}">Blog</a></h3>
      <nav>
        <ul>
          <li>
            <a href="{{ url_for('archive') }}">Archive</a>
          </li>
          <li>
            <a href="{{ url_for('about') }}">About</a>
          </li>
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <p class="flex">
        <a href="https://github.com/scripts-richard" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="mailto:test@mail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <a href="{{ url_for('static', filename='rss/myrss.xml') }}"><i class="fa fa-rss" aria-hidden="true"></i></a>
      </p>
      <p class="copyright">
        <i class="fa fa-copyright" aria-hidden="true"></i>Blog 2017
      </p>
    </footer>
  </body>
</html>
