{% extends "base.html" %}

{% block content %}
<section>
  <article>
    <h2>{{ post.blog_title }}</h2>
    <p class="timestamp">
      <em>Posted on {{ post.blog_date.strftime('%B %d, %Y') }}</em>
    </p>
    {{ post.blog_body|markdown }}
  </article>
</section>
<div class="pagination">
  {% if next_address %}
    <a href="{{ url_for('detail', slug=next_address) }}" class="nposts">
      <i class="fa fa-arrow-left" aria-hidden="true"></i><span class="hide-small"> Next Post</span>
    </a>
  {% endif %}
  {% if previous_address %}
    <a href="{{ url_for('detail', slug=previous_address) }}" class="oposts">
      <span class="hide-small">Previous Post </span><i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  {% endif %}
</div>
{% endblock %}
